@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ffd9ec;
  font-family: "Noto Sans Anatolian Hieroglyphs", sans-serif;
}

header {
  background-color: #ff69b4;
  height: 12.9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-container {
  display: flex;
  align-items: center;
}
.title-container h1 {
  color: #e4eef1;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 1.75rem);
}

.nav-container {
  width: 75vw;
  height: 7vh;
}
.nav-container ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-container ul li a {
  color: #e4eef1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.75rem);
  line-height: 2.38rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #e4eef1 100%, transparent 0) bottom/0% 2px no-repeat;
  transition: background-size 0.8s ease;
}
.nav-container ul li a:hover {
  background-size: 100% 2px;
}

main .about {
  border: 2px solid;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .about p {
  width: 45vw;
  font-size: 1.56rem;
  font-weight: 400;
  line-height: 2.12rem;
}

footer {
  background-color: #ff69b4;
  height: 15.6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-container {
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-container {
  text-align: center;
  color: #e4eef1;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
}

@media (max-width: 768px) {
  header {
    height: 15vh;
  }
  header .title-container h1 {
    font-size: 2rem;
  }
  header .nav-container {
    display: none;
  }
}
@media (max-width: 768px) {
  footer {
    height: 27vh;
    flex-direction: column-reverse;
  }
  .social-container {
    margin-top: 10px;
    width: 100vw;
  }
  .pink-october-img-container {
    display: none;
  }
}

/*# sourceMappingURL=imports.css.map */
