footer {
  background-color: #ff69b4;
  height: 15.6vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-container {
  width: 12vw;
  @include display-config-space-evenly;
}

.info-container {
  text-align: center;
  color: #e4eef1;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
}
