header {
  background-color: #ff69b4;
  height: 12.9vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-container {
  display: flex;
  align-items: center;

  h1 {
    color: #e4eef1;
    text-transform: uppercase;
    font-size: 1.4vw;
  }
}

.nav-container {
  width: 75vw;

  ul {
    height: 100%;
    @include display-config-space-evenly;

    li a {
      color: #e4eef1;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4vw;
      line-height: 2.38rem;
      @include border-bottom-to-right(0.8s, 2px, #e4eef1);
    }
  }
}
