.about {
  height: 45vh;
  @include display-config-space-evenly;

  p {
    color: #000000;
    width: 45%;
    @include text-main;
  }
}

.awareness {
  background-color: #ff69b4;
  height: 35vh;
  @include display-config-space-evenly;

  p {
    color: #e4eef1;
    width: 45%;
    @include text-main;
  }
}

.tips {
  height: 40vh;
  @include display-config-space-evenly;
}
