@media (max-width: 768px) {
  header {
    height: 15vh;

    .title-container h1 {
      font-size: 2rem;
    }

    .nav-container {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .about {
    height: 80vh;
    p {
      width: 90vw;
      line-height: normal;
    }

    img {
      display: none;
    }
  }

  .awareness {
    height: 65vh;

    p {
      width: 90vw;
      line-height: normal;
    }

    img {
      display: none;
    }
  }

  .tips {
  }
}

@media (max-width: 768px) {
  footer {
    height: 32vh;
    flex-direction: column-reverse;
  }

  .social-container {
    margin-top: 10px;
    width: 100vw;
  }

  .pink-october-img-container {
    display: none;
  }
}
