@media (max-width: 768px) {
  header {
    height: 15vh;

    .title-container h1 {
      font-size: 2rem;
    }

    .nav-container {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  main {
    height: 100vh;
  }

  .about {
    flex-direction: column;
    p {
      border: 2px solid;
      width: 100vw;
    }
  }

  .awareness {
    display: none;
  }

  .tips {
    display: none;
  }
}

@media (max-width: 768px) {
  footer {
    height: 32vh;
    flex-direction: column-reverse;
  }

  .social-container {
    margin-top: 10px;
    width: 100vw;
  }

  .pink-october-img-container {
    display: none;
  }
}
